<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>358578437473-hk4ba48vh8ihtopbp5oo4iudmb8eb645.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.358578437473-hk4ba48vh8ihtopbp5oo4iudmb8eb645</string>
	<key>API_KEY</key>
	<string>AIzaSyCL0qDoMM3DXyDmCblT4gWIYymZd6h189o</string>
	<key>GCM_SENDER_ID</key>
	<string>358578437473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dongdong.MessangerApp</string>
	<key>PROJECT_ID</key>
	<string>messangerapp-67f93</string>
	<key>STORAGE_BUCKET</key>
	<string>messangerapp-67f93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:358578437473:ios:378514758a779976ed9920</string>
	<key>DATABASE_URL</key>
	<string>https://messangerapp-67f93.firebaseio.com</string>
</dict>
</plist>